* { box-sizing: border-box; }

body { background-color: #eeeeee; }

#body { margin: 0; padding: 0; }

.container { width: 600px; margin: 0 auto; position: relative; }

#head { height: 60px; border-bottom: 2px solid #cccccc; }

.meat { clear: both; }

#menu { float: left; width: 200px; }

#content { width: 400px; margin-left: 200px; }

#foot { position: relative; height: 60px; border-top: 2px solid #cccccc; }
