* { box-sizing: border-box; }

body { background-color: #eeeeee; font-family: sans-serif; margin: 0; padding: 0; }

a { text-decoration: none; text-transform: uppercase; font-size: 0.9em; color: #336699; }

ul { list-style: none; margin: 0; padding: 0; }

li { margin: 0; }

#body { margin: 0; padding: 0; }

.container { width: 90%; margin: 0 auto; position: relative; }

#head { position: fixed; top: 0; height: 40px; border-bottom: 2px solid #cccccc; position: relative; background-color: #cccccc; padding: 10px 0; }
#head h1 { margin: 0; padding: 3px 10px; border-left: 5px solid #336699; }
#head h2 { margin: 0; position: absolute; bottom: 0; right: 0; display: inline-block; }

.meat { clear: both; }

#menu { float: left; display: inline-block; width: 18%; min-width: 100px; }
#menu ul { width: 100%; }
#menu ul li { width: 100%; position: relative; }
#menu ul li a { position: relative; display: block; padding: 3px 10px; left: 0; right: 0; border-left: 5px solid #336699; }
#menu ul li a:hover { background-color: black; color: white; }

.lang { padding: 15px 0; }
.lang a { padding: 10px; border-radius: 100%; background-color: black; color: white; font-weight: bold; margin-right: 3px; }

#content { border-bottom: 1px solid #cccccc; width: 80%; margin-left: 20%; }
#content .block { display: inline-block; width: 50%; min-width: 300px; vertical-align: top; }

.linkcloud { width: 100%; line-height: 1.7em; }
.linkcloud a { padding: 2px 5px; margin: 1px 3px; background-color: #cccccc; border-radius: 3px; }
.linkcloud a:hover { background-color: black; color: white; }

.personal div { font-size: 0.9em; }

.old tt { margin-right: 1em; }
.old a { margin-right: 1em; }
.old span { font-size: 0.9em; }

#foot { position: relative; height: 60px; border-top: 2px solid #cccccc; color: #8899aa; font-size: 12px; }
